html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;  
}

h2 {
  font-size: 16x;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 14px;
}

.hbox {
  display: flex;
}

.img-container img {
  display: block;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.noticias {
  padding: 0 10px;
}

#indicadores {
  padding: 10px 10px 0;
  font-size: 16px;
}

#noticias {
  padding: 10px 0 0;
  font-size: 16px;
}

.container {  
  width: 780px;
  margin: auto;
  background-color: #eee;  
}

.noticia {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.noticia .img-container {
  width: 100px;
  flex-shrink: 0;
  overflow: hidden;
}

.noticia .side {
  margin-right: 10px;
}

.noticia .conteudo {
  flex-grow: 1;
}

.noticia .cabecalho {
  margin-bottom: 20px;
}

.row {
  margin: 10px 0;
}

.box {  
  height: 100px;
  flex: 1;
  margin: 0 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;  
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}