html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;  
}

h2 {
  font-size: 16x;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 14px;
}

.hbox {
  display: flex;
}

.img-container img {
  display: block;
  width: 100%;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.news-list {
  padding: 0 10px;
}

#indicators-title {
  padding: 10px 10px 0;
  font-size: 16px;
}

#news-list-title {
  padding: 10px 0 0;
  font-size: 16px;
}

.container {  
  width: 780px;  
  margin: auto;
  background-color: #eee;  
  padding-bottom: 20px;
  margin-top: 10px;
}

.news {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.news .img-container {
  width: 100px;
  flex-shrink: 0;
  overflow: hidden;
}

.news .side {
  margin-right: 10px;
}

.news .content {
  flex-grow: 1;
}

.news .header {
  margin-bottom: 20px;
}

.row {
  margin: 10px 0;
}

.box {    
  flex: 1;
  margin: 0 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;  
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.col {
  flex: 1;  
  color:#47525b;
}

.col h2, .col h3, .col p {
  text-align: center;
}

.col h2 {
  font-size: 16px;
  font-weight: normal;
}

.col h3 {
  font-size: 14px;
  font-weight: normal;
}

.col p {
  font-size: 48px;
  font-weight: bold;
}

.sub-indicator p {
  font-size: 32px;
  font-weight: bold;
}

p, h2, h3 {
  margin: 0;
}

.ibovespa {
  background-color: #337ab7;  
}

.ibovespa p, .ibovespa h1, .ibovespa h2, .ibovespa h3 {
  color: white;
}