html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 780px;  
  margin: auto;
  background-color: #eee;  
  padding-bottom: 20px;
  margin-top: 10px;
}