html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.top-bar {
  background-color: coral;
}

.column {
  float: left;
}

.column.left-side {
  width: 15%;
  background-color: blue;
}

.column.center {
  width: 85%;
  background-color: red;
}

.checkbox {
  display: block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}