html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  margin: auto;
  background-color: #eee;    
}

.stock-header {  
  display: flex;
  background-color: white;
  padding-top: 10px;  
}

.stock-header p {
  padding: 0px;
  margin: 0px;
}

.img-container {
  width: 140px;
  flex-shrink: 0;
  overflow: hidden;
}

.img-container img {
  display: block;
  width: 100%;  
  padding-left: 10px;
  padding-right: 10px;
}

.company-data {
  display: block;
}

.company-name {
  font-weight: bold;
}

.company-data-columns {
  display: flex;
}

.company-data-col-1 {
  flex: 1;
  margin-right: 30px;
  margin-bottom: 10px;
}

.company-data-col-2 {
  flex: 4;
  margin-right: 30px;
  margin-bottom: 10px;
}

.chart-container {
  margin-top: 10px;  
  background-color: white;
}

.button-bar {
  padding: 10px;
}

.chart-header div{
  display: inline-block;  
}

.icons-bar {
  float: right; 
  padding: 10px;
}