html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;  
}

label {
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.top-bar {
  border-bottom: 1px solid lightgray;
  padding: 10px;  
}

.top-bar input, .top-bar select{
  border-radius: 5px;
  margin-right: 30px;
  padding: 5px;
}

.top-bar img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.column {
  float: left;  
}

.column.left-side {
  width: 15%;    
  padding-top: 20px;
  padding-left: 20px;
}

.column.center {
  width: 85%;
  background-color: #eee;
  padding-bottom: 10px;
}

.column.center img{
  margin-bottom: 5px;
  width: 190px;
  height: 190px;
}

.stocks:after {
  content: "";
  display: table;
  clear: both;
}

.button {  
  width: 80%;  
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-group {
  font-weight: bold;
}

.card {
  float: left;
  margin: 10px 0 0 10px;
}

.card img {
  margin: 10px;
}

.card-body {
  height: 30px;;
  padding: 0;  
  text-align: center;
}