{% extends "layout.html" %}

{% block main %}
<div class="content">
  <div class="row">
    <!--IBOVESPA-->
    <div class="column2" >
      <div class="card ibovespa">
        <div class="row">
          <div class="column1">
            <h2>IBOVESPA</h2>
            <h1>105.975</h1>
          </div>                
        </div>              
        <div class="row">
          <div class="column2">
            <h4>Min. 52 sem.</h4>
            <h3>65.175</h3>
          </div>
          <div class="column2">
            <h4>Max. 52 sem.</h4>
            <h3>119.255</h3>
          </div>
        </div>
      </div>
    </div>
    <!--IFIX-->
    <div class="column2">
      <div class="card">
        <div class="row">
          <div class="column1">
            <h2>IFIX</h2>
            <h1>2.975</h1>
          </div>                
        </div>              
        <div class="row">
          <div class="column2">
            <h4>Min. 52 sem.</h4>
            <h3>1.175</h3>
          </div>
          <div class="column2">
            <h4>Max. 52 sem.</h4>
            <h3>3.255</h3>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <div class="row">
    <div class="column3">
      <div class="card">
        <h2>SELIC</h2>
        <h1>3,5 %</h1>
      </div>
    </div>          
    <div class="column3">
      <div class="card">
        <h2>CDI</h2>
        <h1>3,4 %</h1>
      </div>
    </div>
    <div class="column3">
      <div class="card">
        <h2>IPCA</h2>
        <h1>2,5 %</h1>
      </div>
    </div>    
  </div>
</div>
{% endblock %}