{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="./static/index.css">
{% endblock %}

{% block main %}
<div class="container">
  <h2 id="indicators-title">Indicadores</h2>
  <div class="hbox row">    
    <div class="box ibovespa">
      <a href="/stocks-grid">
        <div>
          <div class="col">
            <h2>IBOVESPA</h2>
            <p>{{indicators["ibovespa"]["current"]}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col sub-indicator">
            <h3>Min 52 semanas</h3>
            <p>{{indicators["ibovespa"]["min52weeks"]}}</p>
          </div>
          <div class="col sub-indicator">
            <h3>Max 52 semanas</h3>
            <p>{{indicators["ibovespa"]["max52weeks"]}}</p>
          </div>
        </div>        
      </a>              
    </div>
    <div class="box">
      <div>
        <div class="col">
          <h2>IFIX</h2>
          <p>{{indicators["ifix"]["current"]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col sub-indicator">
          <h3>Min 52 semanas</h3>
          <p>{{indicators["ifix"]["min52weeks"]}}</p>
        </div>
        <div class="col sub-indicator">
          <h3>Max 52 semanas</h3>
          <p>{{indicators["ifix"]["max52weeks"]}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hbox row">
    <div class="box">    
      <div class="row">
        <div class="col">
          <h2>SELIC (12 meses)</h2>
          <p>{{indicators["selic"]["yearrate"]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col sub-indicator">
          <h3>{{indicators["selic"]["monthname"]}}</h3>
          <p>{{indicators["selic"]["monthrate"]}}</p>
        </div>        
      </div>        
    </div>

    <div class="box">    
      <div class="row">
        <div class="col">
          <h2>CDI (12 meses)</h2>
          <p>{{indicators["cdi"]["yearrate"]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col sub-indicator">
          <h3>{{indicators["cdi"]["monthname"]}}</h3>
          <p>{{indicators["cdi"]["monthrate"]}}</p>
        </div>        
      </div>        
    </div>      

    <div class="box">    
      <div class="row">
        <div class="col">
          <h2>IPCA (12 meses)</h2>
          <p>{{indicators["ipca"]["yearrate"]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col sub-indicator">
          <h3>{{indicators["ipca"]["monthname"]}}</h3>
          <p>{{indicators["ipca"]["monthrate"]}}</p>
        </div>        
      </div>        
    </div>      
  </div> 
</div>
<div class="container">  
  <section class="news-list">
    <h2 id="news-list-title">Notícias</h2>
    {% for item in news%}
    <article class="hbox news">
      <div class="side img-container">
        <img src="{{item["image"]}}" alt="">
      </div>
      <div class="content">
        <header class="header">
          <h3 class="titulo">{{item["headline"]}}</h3>
        </header>
        <p>{{item["text"]}}</p>
      </div>
    </article>
    {%endfor%}
  </section>
</div>
<script>  
  selectTab("main-tab");
</script>
{% endblock %}