{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="/static/stock.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block main %}

<div class="container">
    <div class="stock-header">
        <div class="img-container">
            <img src="/static/companies-logo/ABEV.gif" alt="">
        </div>        
        <div class="company-data">
            <p class="company-name">AMBEV</p>
            <div class="company-data-columns">
                <div class="company-data-col">
                    <p>Setor: Nome do setor</p>
                    <p>Sub-Setor: Nome do sub-setor</p>
                    <p>Segmento: Nome do segmento</p>
                    <p>Nível de governança: Nome do nível</p>
                </div>
                <div class="company-data-col">
                    <p>Fundação: 01/01/1900</p>
                    <p>IPO: 01/01/1900</p>
                    <p>Free float ON: 50%</p>
                    <p>Free float PN: 0%</p>            
                </div>
                <div class="company-data-col">
                    <p>Site do RI: wwww.site.com.br</p>
                    <p>Página na B3: wwww.b3.com.br/empresa</p>
                    <p>Majoritário: Nome do majoritário</p>
                    <p>Valor de mercado: R$ 0.00</p>            
                </div>
            </div>            
        </div>        
    </div>
    <div id="piechart"></div>
</div>

<script type="text/javascript">
    selectTab("stocks-tab");

    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    
    // Draw the chart and set the chart values
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work', 8],
      ['Friends', 2],
      ['Eat', 2],
      ['TV', 2],
      ['Gym', 2],
      ['Sleep', 8]
    ]);
    
      // Optional; add a title and set the width and height of the chart
      var options = {'title':'My Average Day', 'width':550, 'height':400};
    
      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
    </script>
{% endblock %}