{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="/static/stock.css">
{% endblock %}

{% block main %}

<div class="container">
    <div class="stock-header flex">
        <div class="img-container">
            <img src="/static/companies-logo/ABEV.gif" alt="">
        </div>        
        <div class="block">
            <p class="company-name">AMBEV</p>
            <div class="flex">
                <div class="stock-header-column-5">                        
                    <p>Setor: Nome do setor</p>
                    <p>Sub-Setor: Nome do sub-setor</p>
                    <p>Segmento: Nome do segmento</p>
                    <p>Nível de governança: Nome do nível</p>
                </div>
                <div class="stock-header-column-3">            
                    <p>Fundação: 01/01/1900</p>
                    <p>IPO: 01/01/1900</p>
                    <p>Free float ON: 50%</p>
                    <p>Free float PN: 0%</p>            
                </div>
                <div class="stock-header-column-5">            
                    <p>Site do RI: wwww.site.com.br</p>
                    <p>Página na B3: wwww.b3.com.br/empresa</p>
                    <p>Majoritário: Nome do majoritário</p>
                    <p>Valor de mercado: R$ 0.00</p>            
                </div>
            </div>            
        </div>        
    </div>
</div>

<script>  
    selectTab("stocks-tab");
</script>
{% endblock %}