{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="/static/stock.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/static/stock.js"></script>
{% endblock %}

{% block main %}

<div class="container">
    <div class="stock-header">
        <div class="img-container">
            <img src="/static/companies-logo/{{stock_profile["ticker"]}}.gif" alt="">
        </div>        
        <div class="company-data">            
            <div class="company-data-columns">
                <div class="company-data-col-1">
                    <p class="company-name">{{stock_profile["name"]}}</p>
                    <p><strong>Setor</strong></p>
                    <p></p>{{stock_profile["sector"]}}</p>                    
                    <p><strong>Segmento</strong></p>
                    <p></p>{{stock_profile["industry"]}}</p>
                    <p><strong>Site</strong></p>
                    <p></p>{{stock_profile["website"]}}</p>
                </div>
                <div class="company-data-col-2">
                    <p>{{stock_profile["longBusinessSummary"]}}</p>            
                </div>                
            </div>            
        </div>        
    </div>
    <div class="chart-container">
        <div class="chart-header">            
        </div>
        <div id="dre"></div>        
    </div>       
    <div class="chart-container">
        <div class="chart-header">            
        </div>
        <div id="fluxoCaixa"></div>        
    </div>       
    <div class="chart-container">
        <div class="chart-header">
        </div>
        <div id="balanceSheet"></div>
    </div>       
</div>

<script type="text/javascript">
    selectTab("stocks-tab");
</script>
{% endblock %}