{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="./static/stocks.css">
{% endblock %}

{% block main %}

<div class="top-bar">
    <input type="text" placeholder="Busque uma empresa">
    <span>Ordenar por</span>
    <select name="order" id="order">
        <option value="0">Valor de mercado</option>
        <option value="0">Tempo de IPO</option>
    </select>
    <img src="./static/grid-view-icon.png" alt="">
    <img src="./static/list-view-icon.png" alt="">
</div>

<div class="stocks">
    <div class="column left-side">
        <p>Setores</p>
        <div><input type="checkbox" name="setor-1" id="setor-1"><label for="setor-1">Setor 1</label></div>
        <div><input type="checkbox" name="setor-2" id="setor-2"><label for="setor-2">Setor 2</label></div>
        <div><input type="checkbox" name="setor-3" id="setor-3"><label for="setor-3">Setor 3</label></div>
        <div><input type="checkbox" name="setor-4" id="setor-4"><label for="setor-4">Setor 4</label></div>
        <input type="button" value="Aplicar">
        
        <p>Sub-Setores</p>
        <div><input type="checkbox" name="subsetor-1" id="subsetor-1"><label for="subsetor-1">Sub-Setor 1</label></div>
        <div><input type="checkbox" name="subsetor-2" id="subsetor-2"><label for="subsetor-2">Sub-Setor 2</label></div>
        <div><input type="checkbox" name="subsetor-3" id="subsetor-3"><label for="subsetor-3">Sub-Setor 3</label></div>
        <div><input type="checkbox" name="subsetor-4" id="subsetor-4"><label for="subsetor-4">Sub-Setor 4</label></div>
        <input type="button" value="Aplicar">

        <p>Segmento</p>
        <div><input type="checkbox" name="subsetor-1" id="subsetor-1"><label for="subsetor-1">Sub-Setor 1</label></div>
        <div><input type="checkbox" name="subsetor-2" id="subsetor-2"><label for="subsetor-2">Sub-Setor 2</label></div>
        <div><input type="checkbox" name="subsetor-3" id="subsetor-3"><label for="subsetor-3">Sub-Setor 3</label></div>
        <div><input type="checkbox" name="subsetor-4" id="subsetor-4"><label for="subsetor-4">Sub-Setor 4</label></div>
        <input type="button" value="Aplicar">

        <p>Setores</p>
        <div><input type="checkbox" name="setor-1" id="setor-1"><label for="setor-1">Setor 1</label></div>
        <div><input type="checkbox" name="setor-2" id="setor-2"><label for="setor-2">Setor 2</label></div>
        <div><input type="checkbox" name="setor-3" id="setor-3"><label for="setor-3">Setor 3</label></div>
        <div><input type="checkbox" name="setor-4" id="setor-4"><label for="setor-4">Setor 4</label></div>
        <input type="button" value="Aplicar">
        
        <p>Sub-Setores</p>
        <div><input type="checkbox" name="subsetor-1" id="subsetor-1"><label for="subsetor-1">Sub-Setor 1</label></div>
        <div><input type="checkbox" name="subsetor-2" id="subsetor-2"><label for="subsetor-2">Sub-Setor 2</label></div>
        <div><input type="checkbox" name="subsetor-3" id="subsetor-3"><label for="subsetor-3">Sub-Setor 3</label></div>
        <div><input type="checkbox" name="subsetor-4" id="subsetor-4"><label for="subsetor-4">Sub-Setor 4</label></div>
        <input type="button" value="Aplicar">

        <p>Segmento</p>
        <div><input type="checkbox" name="subsetor-1" id="subsetor-1"><label for="subsetor-1">Sub-Setor 1</label></div>
        <div><input type="checkbox" name="subsetor-2" id="subsetor-2"><label for="subsetor-2">Sub-Setor 2</label></div>
        <div><input type="checkbox" name="subsetor-3" id="subsetor-3"><label for="subsetor-3">Sub-Setor 3</label></div>
        <div><input type="checkbox" name="subsetor-4" id="subsetor-4"><label for="subsetor-4">Sub-Setor 4</label></div>
        <input type="button" value="Aplicar">
    </div>
    <div class="column center">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
        <img src="./static/money-times.png" alt="">
    </div>
</div>

<script>  
    selectTab("stocks-tab");
</script>
{% endblock %}