{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="/static/stocks.css">
<script type="text/javascript" src="/static/stocks.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block main %}

<div class="top-bar">
    <form autocomplete="off" action="/action_page.php">
        <div class="autocomplete">
          <input id="searchStock" type="text" name="searchStock" placeholder="Busque uma empresa" style="width:300px;">
        </div>
        <input type="submit">
    </form>
    <span>Ordenar por</span>
    <form action="/order-stocks-grid" method="POST">
        <select name="order" id="order" onchange="document.getElementById('changeOrderButton').click();">
            {% for item in orderby_criterias %}
                {% if item["selected"] == "true" %}
                    <option value="{{item["id"]}}" selected>{{item["description"]}}</option>
                {% else %}
                    <option value="{{item["id"]}}">{{item["description"]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button id="changeOrderButton" type="submit" hidden>OK</button>
    </form>    
    <a href="/stocks-grid"><img src="/static/grid-view-icon-selected.png" alt=""></a>
    <a href="/stocks-list"><img src="/static/list-view-icon-unselected.png" alt=""></a>
</div>

<div class="stocks">
    <div class="column filters">        
        {% for item in filters %}
        <form action="/stocks-grid" method="POST">
            <div>
                <div><p class="filter-group">{{item["description"]}}</p></div>
                <input type="hidden" name="field-name" value="{{item["field"]}}">
                {% for option in item["options"] %}              
                    <div>                      
                        {% if option["value"] == "on"%}
                            <input type="checkbox" name="{{option["name"]}}" id="filter-{{item["field"]}}{{option["name"]}}" value="{{option["value"]}}" checked>
                        {% else %}
                            <input type="checkbox" name="{{option["name"]}}" id="filter-{{item["field"]}}{{option["name"]}}" value="{{option["value"]}}">
                        {% endif %}
                        <label for="filter-{{item["field"]}}{{option["field"]}}">{{option["name"]}}</label>
                    </div>
                {% endfor %}            
                <div><input class="button btn btn-dark" type="submit" value="Aplicar"></div>
            </div>
        </form>
        {% endfor %}        
    </div>
    <div class="column stock-grid">
        {% for item in stock_list %}            
            <div class="card">
                <a href="/stock/{{item["ticker"]}}">
                    <img src="/static/companies-logo/{{item["ticker"]}}.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item["name"]}}</h5>
                    </div>
                </a>
          </div>
        {% endfor %}
    </div>
</div>

<script>  
    selectTab("stocks-tab");
    autocomplete(document.getElementById("searchStock"), stocks);
</script>
{% endblock %}